<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>help</title>
    <meta name="description" content="Sales system administration">
    <meta name="author" content="Administrator">
    <meta name="viewport" content="initial-scale = 1.0">
    <title> Get in touch</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/contact.css">-->
</head>
<body>
<div class="main">

    <ul>
        <li><<a th:href = "@{/login}" href = "login.html">>Login</a></li>
        <li><a th:href = "@{/company/showAll}" href = "company.html">Clients</a></li>
        <li><a th:href = "@{/mvc/projects/showAll}" target="_blank"> Projects</a></li>
        <li><a th:href= "@{/mvc/tasks/showAll}" target="_blank">Tasks</a></li>
        <li><a th:href = "@{/mvc/help}" href="help.html">Help</a></li>
    </ul>
</div>

<div class="contact_us">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                <label for="disabled">Disabled</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">

                <div class="input-field inline">
                    <input id="email_inline" type="email" class="validate">
                    <label for="email_inline">Email</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                </div>
            </div>
        </div>
    </form>
</div>


</body>
</html>