<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Sales system administration">
    <meta name="author" content="Administrator">
    <meta name="viewport" content="initial-scale = 1.0">
    <title> New Contact</title>
    <!--Compiled and minified CSS-->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/new_company.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<div class="main">

    <ul>
        <li><a th:href = "@{/mvc/company/showAll}" href = "showCompanyList.html">Clients</a></li>
        <li><a th:href = "@{/mvc/project/showAll}" > Projects</a></li>
        <li><a th:href= "@{/mvc/tasks/showAll}" >Tasks</a></li>
        <li><a th:href = "@{/mvc/help}" href="help.html">Help</a></li>
        <li><a th:href = "@{/login}" href = "login.html">Logout</a></li>
    </ul>
</div>
<div class="new_contact">

    <div class="form">
        <h1>Create new contact</h1>
        <div class="row">
            <form th:action="@{/mvc/contact/insert}" method="post" class="col s12">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="contact_name" type="text" name = "contact_name" class="validate">
                        <label for="contact_name">Contact Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="company_name" type="text" name = "company_name" class="validate">
                        <label for="company_name">Company Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="phone_number" type="text" name="phone_number" class="validate">
                        <label for="phone_number">Phone Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="text" name="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="address" type="text" name = "address" class="validate">
                        <label for="address">Address</label>
                    </div>
                </div>


                <button input type="submit" value ="Save">Save</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>
