<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

<meta name="description" content="Sales system administration">
<meta name="author" content="Administrator">
<meta name="viewport" content="initial-scale = 1.0">
<title> Register</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/register.css">
</head>
<body>
<header>
    <div class="main">
        <div class="registration">

            <div class="form">
                <h1>Register here</h1>
                <form class = "register-form" th:action="@{/mvc/user/register}" method="post">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <input type="text" name = "emailAddress" placeholder="Email Address"/>
                    <input type="password" name = "password" placeholder="Password"/>
                    <input type="text" name = "name" placeholder="Name"/>
                    <!--<input type="text" name = "activation_code" placeholder="Activation Code"/>-->

                    <button  type = "submit"> Register</button>
                    <p class="message">Already registered? <a th:href = "@{/login}" href = "login.html"> Login </a>
                    </p>
                </form>
            </div>

        </div>
    </div>
</header>
</body>
</html>