<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show All Companies</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/showCompanyList.css">

</head>
<body>

<div class="main">

    <ul>
        <li><a href= "client_view.html" target="_blank">Clients</a></li>
        <li><a href= "projects.html" target="_blank"> Projects</a></li>
        <li><a href= "tasks.html" target="_blank">Tasks</a></li>
        <li><a th:href = "@{/mvc/help}" href="help.html">Help</a></li>
        <li><a href= "#.html" target="_blank">Logout</a></li>
    </ul>
</div>
<ul class="add_comp">
    <li class="add_comp"><a th:href = "@{/mvc/company/insert}" href="insertCompany.html"> Add a new company</a></li>
</ul>

<table class= "striped" >

    <thead>
    <tr>
        <td>Company name</td>
        <td>Website</td>
        <td>Address</td>
        <td>Phone Number</td>
        <td>Invoicing details</td>
        <td>Actions</td>
    </tr>
    </thead>
    <!--<a th:href="@{/mvc/company/{id}/delete(id=${u.id})}">-->
        <!--<img class = "deleteUser"/>-->
    <!--</a>-->
    <tbody  th:each="c : ${company}">
    <tr>
    <td> <span th:text="${c.company_name}">Company name </span></td>
        <td><span th:text="${c.company_website}">Website </span></td>
    <td><span th:text="${c.company_address}">Address </span></td>
    <td><span th:text="${c.phone_number}">Phone number </span></td>
    <td><span th:text="${c.invoicing_details}">Invoicing details </span></td>
    <td>  <i class="material-icons">edit</i>
        <i class="material-icons">delete</i>
    </td>
    </tr>
    </tbody>
</table>


<!--<p>
    <a href ="/mvc/company/insert">Add </a> new user

</p>-->
</body>

</html>